/* ./styles/globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

  body {
    @apply lg:w-full md:w-full min-w-max
  }

  h1 {
    @apply leading-tight text-2xl text-black dark:text-white mt-4 ;
  }

  h2 {
    @apply leading-tight  text-4xl font-extrabold lg:mt-0  sm:text-left md:text-center lg:text-left font-poppins text-black dark:text-white mb-4;
  }

  h3 {
    @apply leading-tight text-3xl text-black dark:text-white mt-4 ;
  }

  h4 {
    @apply leading-tight text-2xl font-light font-serif mt-4 ;
  }
  pre {
    @apply dark:bg-gray-900 bg-green-900 p-10  w-max mt-10 mb-5  border bg-opacity-5;
  }
  
}

@layer utilities {
  p {
    @apply font-sans;
  }
  img {
    @apply my-10;
  }
  code {
    dark: text-white;
  }
}

:root {
  --color-black: #000;
  --color-white: #fff;
  --color-blue-100: #e8f2ff;
  --color-blue-500: #4b96ff;
  --color-blueGray-500: #a9adc1;
  --color-gray-100: #f7f7f7;
  --color-gray-200: #e6e9ee;
  --color-gray-300: #dde0e4;
  --color-gray-400: #818890;
  --color-gray-500: #535661;
  --color-gray-600: #4b4c53;
  --color-gray-700: #3a3d4a;
  --color-gray-800: #2e3039;
  --color-gray-900: #1f2028;
  --color-green-100: #e7f9ed;
  --color-green-500: #30c85e;
  --color-green-600: #68d94a;
  --color-red-500: #ff4545;
  --color-yellow-500: #ffd644;
  --color-green-font-highight: #5ad7be;
  --color-blue-font-highight: #010a1d;
  --color-team-unknown: #818890;
  --color-team-blue: #36a3ff;
  --color-team-red: #ff4545;
  /* yellow in light mode is... hard */
  --color-team-yellow: #a08600;
  --color-yellow-500: #a08600;
}

.light {
  --color-team-unknown: var(--color-black);
  --bg-primary: var(--color-white);
  --bg-secondary: var(--color-blue-font-highight);
  --bg-theme-back: var(--bg-base-100);
  --bg-footer: #edf2f6;
  --bg-hover-card: #edf2f6;
  --bg-alt: var(--color-gray-200);
  --border-secondary: var(--color-gray-200);
  --text-primary: var(--color-black);
  --text-secondary: var(--color-gray-500);

  --color-font-highlight: var(--color-blue-font-highight);
}

.dark {
  --color-team-yellow: #ffd644;
  --color-yellow-500: #ffd644;
  --color-team-unknown: var(--color-white);
  --bg-primary: #101a18;
  --bg-hover-card: #05160d;
  --bg-footer: #05160d;
  --bg-secondary: var(--color-blue-font-highight);
  --bg-theme-back: var(--bg-base-100);
  --bg-alt: var(--color-gray-700);
  --border-secondary: var(--color-gray-600);
  --text-primary: var(--color-white);
  --text-secondary: var(--color-blueGray-500);
  --color-font-highlight: var(--color-green-font-highight);
}
